.row_posters{                       /* the container in each row holding movie posters*/
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    /* padding makes the hovering on posters possible after adding horizontal scrollbar in overflow-x */
}
.row{
    margin-left: 20px;
    color: #fff;
}
/* we need to hide the horizontal scrollbar from view , but keep its functionality . so do the below */
.row_posters::-webkit-scrollbar{
    display: none;    /* this makes sure the horizontal scrollbar never showsup in any browser */
}
.row_poster{                    /* styling for each movie poster in a row*/
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}
.row_poster:hover{
    transform : scale(1.08);
    /* opacity: 1; */
}

.row_posterLarge{
    max-height: 250px;
}

.row_posterLarge:hover{
    transform: scale(1.09);
}